In [1]:
import pandas as pd
import seaborn as sns

In [2]:
train = pd.read_csv("../data/real_final_train.csv")
test = pd.read_csv("../data/real_final_test.csv")

In [17]:
train = pd.read_csv("../data/train.csv")

In [18]:
train.columns

Index(['index', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'country', 'introelapse',
       'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4',
       'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1', 'VCL2',
       'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10',
       'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education',
       'urban', 'gender', 'engnat', 'age', 'hand', 'religion', 'orientation',
       'voted', 'married', 'familysize', 'ASD', 'nerdiness'],
      dtype='object')

In [3]:
print(train.shape)
print(test.shape)

(15000, 20)
(35452, 19)

In [4]:
train.head()

,VCL_0,VCL_38,education,urban,gender,engnat,hand,religion,hand.1,religion.1,age_cat,married,orientation,familysize,ASD,nerdiness,Qs,TIPI_left,TIPI_right,VCL_1
0,2,0,2,1,3,1,2,12,2,12,2,1,4,4,2,1,2.346154,2.75,2.333333,1.0
1,1,1,4,2,2,1,1,2,1,2,4,2,1,4,2,1,2.269231,3.50,2.000000,1.0
2,1,1,2,1,1,2,1,2,1,2,4,3,2,4,2,1,2.346154,5.00,2.000000,1.0
3,2,0,1,3,1,1,2,1,2,1,1,1,1,2,2,1,2.384615,3.50,2.500000,1.0
4,2,1,1,2,2,2,2,12,2,12,1,1,1,1,2,0,2.423077,3.75,2.666667,1.0

In [5]:
train = train.drop(columns=['hand.1', 'religion.1'])
test = test.drop(columns=['hand.1', 'religion.1'])

In [6]:
train.columns

Index(['VCL_0', 'VCL_38', 'education', 'urban', 'gender', 'engnat', 'hand',
       'religion', 'age_cat', 'married', 'orientation', 'familysize', 'ASD',
       'nerdiness', 'Qs', 'TIPI_left', 'TIPI_right', 'VCL_1'],
      dtype='object')

In [7]:
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()

In [8]:
data = train.iloc[:, 14:18].values
data_scaled = min_max_scaler.fit_transform(data)
data_scaled = pd.DataFrame(data_scaled)

train_scaled = pd.concat([train.drop(train.iloc[:, 14:18], axis=1), data_scaled], axis=1)

In [9]:
data = test.iloc[:, 14:18].values
data_scaled = min_max_scaler.fit_transform(data)
data_scaled = pd.DataFrame(data_scaled)

test_scaled = pd.concat([test.drop(test.iloc[:, 14:18], axis=1), data_scaled], axis=1)

In [10]:
display(train_scaled)

,VCL_0,VCL_38,education,urban,gender,engnat,hand,religion,age_cat,married,orientation,familysize,ASD,nerdiness,0,1,2,3
0,2,0,2,1,3,1,2,12,2,1,4,4,2,1,0.782051,0.55,0.777778,1.0
1,1,1,4,2,2,1,1,2,4,2,1,4,2,1,0.756410,0.70,0.666667,1.0
2,1,1,2,1,1,2,1,2,4,3,2,4,2,1,0.782051,1.00,0.666667,1.0
3,2,0,1,3,1,1,2,1,1,1,1,2,2,1,0.794872,0.70,0.833333,1.0
4,2,1,1,2,2,2,2,12,1,1,1,1,2,0,0.807692,0.75,0.888889,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2,1,2,2,2,1,1,1,1,1,3,3,2,0,0.769231,0.75,0.722222,1.0
14996,2,0,4,1,2,2,1,3,4,2,1,3,2,1,0.910256,0.85,0.833333,1.0
14997,2,0,2,2,2,1,1,1,2,1,2,3,1,1,0.961538,1.00,0.666667,1.0
14998,2,2,3,2,2,1,1,12,2,2,4,2,1,0,0.871795,0.90,0.833333,1.0
14999,2,1,2,3,1,2,1,2,2,1,2,1,2,1,0.769231,0.70,0.722222,1.0

In [11]:
display(test_scaled)

,VCL_0,VCL_38,education,urban,gender,engnat,hand,religion,age_cat,married,orientation,familysize,ASD,Qs,0,1,2
0,0,2,2,3,2,2,1,4,1,1,4,3,2,2.769231,1.000000,0.833333,1.00
1,2,2,2,2,1,1,1,1,3,1,5,5,2,2.884615,1.000000,0.888889,1.00
2,2,1,1,3,2,2,1,4,1,1,5,3,2,2.692308,0.833333,0.888889,1.00
3,0,1,2,2,1,1,1,2,2,1,2,3,2,2.576923,1.000000,0.888889,1.00
4,2,0,2,3,2,2,1,4,1,1,5,2,2,2.538462,0.500000,0.833333,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,2,0,2,3,2,2,3,10,1,1,4,3,2,2.769231,0.833333,0.944444,0.00
35448,2,1,2,2,3,1,3,2,1,1,5,2,2,2.730769,0.833333,0.888889,0.75
35449,2,1,3,3,1,1,1,1,3,1,5,2,2,2.807692,1.000000,0.833333,1.00
35450,1,1,2,3,1,1,1,12,1,1,1,2,2,2.538462,0.833333,0.888889,1.00
35451,2,0,1,3,2,1,2,2,1,1,2,1,2,2.653846,0.833333,0.944444,1.00

In [12]:
from pycaret.classification import *

In [14]:
clf = setup(data = train_scaled, target = 'nerdiness')

In [16]:
best_3 = compare_models(sort = 'AUC', n_select = 5, fold = 5)

In [ ]:
blended = blend_models(estimator_list = best_3, fold = 5, method = 'soft')

In [ ]:
pred_holdout = predict_model(blended)

In [ ]:
final_model = finalize_model(blended)

In [ ]:
predictions = predict_model(final_model, data = test)

In [ ]:
predictions

In [ ]:
submission = pd.read_csv("../data/sample_submission.csv")

In [ ]:
submission['nerdiness'] = predictions['Label']

In [ ]:
submission['nerdiness'].nunique()

In [ ]:
sns.set_theme(style="darkgrid")
ax = sns.countplot(x="nerdiness", data=submission)

In [ ]:
submission.to_csv('automl_with_realfinal.csv', index = False)